*.o
*.lst
/leavelastndig/leavelastndig/
/remdigits/remdigits
/remnth/remnth
/removerng/removerng
/remrep/remrep
/leavelongestnum/leavelongestnum
/getdec/getdec
/gethex/gethex
/leaverng/leaverng
/remlastnum/remlastnum
/reversedig/reversedig
